/*/INICIO/*/

#ContenedorSacro {
    overflow-x: hidden;
}

.PtituloInicio {
    font-size: map-get($fontsizes, tituloChico);
}

.h1Seccion {
    font-size: map-get($fontsizes, tituloGrande);
    line-height: 10px;
    margin: 5%;
    font-weight: map-get($fontsizes , negrita);
    color: beige;


}

.h2Seccion {
    font-size: map-get($fontsizes, tituloChico);
    line-height: 10px;
    margin: 5%;
    font-weight: map-get($fontsizes , negrita);

}

.enviarARegistro {
    grid-area: enviarARegistro;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 60px 0px 60px 0px;

    a {
        text-decoration: none;
        color: beige;
    }

    p {
        margin: 0px 0px 20px 0px;
        font-size: map-get($fontsizes, texto);
    }
    .botonesInicioYRegistro{
        display: flex;
        flex-direction: row;

    }
}

.llevarARegistrarse {
    margin:10px;
    padding: 10px 40px 10px 40px;
    background-color: rgb(221, 130, 69);
    border-radius: 7px;
    border: 0px;
}

.inicioTitulo {
    grid-area: inicioTitulo;
    display: flex;
    font-size: 3rem;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/img/wallpaperinicio.webp);
    opacity: 0.8;
    background-size: cover;
    background-attachment: fixed;
    height: 589px;
    text-align: center;
    color: beige;

}

.h1Bienvenido {
    padding-top: 220px;
    font-size: map-get($fontsizes , tituloGrande);

}



.deliciasDeLaCasa {

    grid-area: deliciasDeLaCasa;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2%;
    text-align: center;

    h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 4rem;
        margin: 5%;
        font-weight: map-get($fontsizes , negrita);
    }

    .imagenesDeComida {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    img {

        margin: 3%;
        border: 1px solid rgb(82, 82, 80);
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgb(63, 62, 62);
        @include wyh(auto, 13rem)
    }

}
/*/
.contenedorCatalogoBebidas {
    margin: 2%;
    border-radius: 8px;

    img {
        height: 80px;
        width: auto;
        margin: 2%;
    }

    .contenedorIndividual {
        margin: 2%;
        border-radius: 8px;
    }
}

/*/
.seccionContacto {
    grid-area: seccionContacto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;



    .ubicacionYBotones {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        font-size: 1.1rem;
        margin-bottom: 50px;
    }



    button {
        padding: 10px 40px 10px 40px;
        text-align: center;
        background-color: rgb(221, 130, 69);
        border-radius: 7px;
        color: beige;
        border: 1px;
    }



    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5%;
        font-weight: map-get($fontsizes , negrita);
    }

    iframe {
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgb(109, 108, 108);
    }

}
/*/
.contenedorMenuCafes {
    .rowCafeMenu{
        h2{
        font-size: 1.2rem;
        }
    }
    .imgMenuCafe {
        width: auto;
        height: 80px;
    }
    .elementosMenuCafe{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

}
/*/