/*/NOSOTROS/*/

.nosotrosPage hr {

    display: flex;
    align-items: center;
    border: 1px solid rgb(73, 70, 70);
    vertical-align: middle;
    width: 350px;
    margin: 0px auto 0px auto;
}


.nosotros {
    display: flex;
    flex-direction: row-reverse;
    margin: 100px 40px 100px 40px;
    line-height: 2.5rem;
    font-size: map-get($fontsizes,texto);
    text-align: center;

    h2 {
        margin: 10%;
        font-size: map-get($fontsizes,tituloChico);
    }
}

.gif {
    width: 30rem;
    height: 22rem;
    border: 0px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(117, 115, 115);
}

.nosotrosTexto {
    padding: 0px 15% 0px 15%;
}




.nosotrosLocal {
    display: flex;
    flex-direction: row;
    margin: 100px 40px 100px 40px;
    line-height: 2.5rem;
    font-size: map-get($fontsizes,texto);
    text-align: center;

    h2 {
        margin: 10%;
        font-size: map-get($fontsizes,tituloChico);
    }

}